/* desktop 1440px - styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    background: $body-gradient;
    overflow-x: hidden;
}

.neon-text{
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $neon-text-color;
    text-shadow: 0px 0px 5px $neon-shadow-color;
}

.button-default{
    border: 1px solid $button-border;
    background-color: transparent;
    @include equalBorderRadius(5px);
    @include easeTransition(background-color, .1s, ease);
}