$body-gradient: linear-gradient(to right, #0f2027, #203a43, #2c5364); // body 
$primary-color: #8BBCCC; // color text
$secondary-color: #B8FFF9; // shadow - border
$title-header: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99); // title gradient text
$name-color: #ef9f9f;