// Footer estilos para desktop <= 1440px
.footer {
  // Estilos del contenedor
  width: 100vw;
  height: auto;
  padding: 50px 0;
  @include flex(0);
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: $bg-footer;

  // Estilos del contenido
  .tools {
    h3 {
      @include flex(5px);
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 10px;
      color: #fff8;
    }

    .tools-ul {
      list-style: none;
      color: #282c37;

      li {
        height: 24px;
        @include flex(5px);
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-weight: 500;
      }
    }
  }

  .contact {
    @extend .tools;
    .contact-ul {
      @extend .tools-ul;
      li {
        span {
          color: #71b280;
        }
        a {
          @include flex(5px);
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          color: #282c37;
        }
      }
    }
  }
}

// Footer estilos para desktop <= 480px
@media screen and (max-width: 480px) {
  .footer {
    padding: 50px 30px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;

    .tools {
      margin-bottom: 30px;
      h3 {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
    }
  }
}
