// styles - desktop 1440px;
.menu {
  // menu - general styles
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 85px;
  padding: 0 90px;
  @include flex(50px);
  @include flexJustifyBetween();
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  z-index: 10;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-box-shadow: 0px 3px 8px -5px rgba(66, 194, 255, 0.5);
  box-shadow: 0px 3px 8px -5px rgba(66, 194, 255, 0.5);

  .hamburger-icon {
    display: none;
  }

  .menu-icon {
    color: $primary-color;
    font-size: 28px;
  }

  // menu - animated icon
  .menu-icon_container {
    @include container();
    .menu-icon {
      @include easeTransition(transform, 0.7s, ease);
    }
    .my-name {
      @include myName();
    }

    &:hover {
      width: 115px;
      @include equalBorderRadius(15px);

      .menu-icon {
        @include rotateTransform(360deg);
      }

      .my-name {
        width: 57px;
        margin-left: 8px;
      }
    }
  }

  // menu - links
  .menu-links {
    width: auto;
    height: 100%;
    @include flex(0);
    @include flexCenter();
    list-style: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .close-icon {
      display: none;
    }

    .menu-li {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      .menu-link {
        @include link();

        &:hover {
          @include transformMoveBoxY(-2px);
          background: #aaa1;
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
        }
      }
    }

    .flag-icons {
      @include flags();
    }
  }
}

// styles - desktop <= 1300px;
@media screen and (max-width: 1300px) {
  .menu-links .menu-li .menu-link {
    font-size: 16px;
  }
}

// styles - tablet <= 830px;
@media screen and (max-width: 830px) {
  .menu {
    // menu - general styles;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 0 30px;
    padding-top: 30px;
    @include flexCenter();
    gap: 15px;
  }
}

// styles - mobile <= 450px;
@media screen and (max-width: 450px) {
  .menu {
    //menu - general styles
    height: 85px;
    padding-top: 0;
    @include flexJustifyBetween();
    .hamburger-icon {
      display: block;
    }

    // menu - links
    .menu-links {
      position: absolute;
      top: 0;
      right: 0;
      width: 45vw;
      height: 100vh;
      padding: 65px 0 0 23px;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      gap: 15px;
      background-color: #262630;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      -webkit-clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
      clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
      @include easeTransition(clip-path, 0.2s, ease);

      .close-icon {
        position: absolute;
        top: 25px;
        right: 20px;
        display: block;
      }

      .menu-li {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        .menu-link {
          padding-left: 0;
          gap: 7px;
        }
      }
    }

    // interaction with TS
    .menu-active {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}

// styles - mobile <= 350px;
@media screen and (max-width: 350px) {
  .menu .menu-links {
    padding-left: 15px;
  }

  .menu .menu-links .menu-li .menu-link {
    font-size: 14px;
  }
}
